@{
    ViewBag.Title = "About";
}
<h2>Acerca de nosotros.</h2>
<h3>Un software de bases de datos en la web.</h3>

<p>Maneja la informacion de tu base de datos en la web, es más eficiente y efectivo para cuidar tu información</p>
<img src="~/img/base-de-datos.png" width="300" height="300"/>
