@{
    ViewBag.Title = "Contact";
}
<h2>Contacto</h2>
<h3>Contactanos para que puedas empezar a manejar tu información.</h3>

<address>
    <img src="~/img/ubicacion.png" alt="ubicacion" width="15" height="15" />
    Redmond, WA 98052-6399<br />
    <img src="~/img/telefono.png" alt="tlf fijo" width="15" height="15" />
    <abbr title="Phone">Teléfono:</abbr>
    2228392<br />
    <img src="~/img/telefono-inteligente.png" alt="tlf celular" width="15" height="15"/>
    <abbr title="Phone">Celular:</abbr>
    3503471937
</address>

<address>
    <img src="~/img/email.png" alt="email" width="30" height="30"><br />
    <strong>Soporte:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>