@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Proyecto ASP.NET</h1>
    <p class="lead">En este proyecto se muestra lo que se ha aprendido en las clases como los CRUD de las tablas, el inicio de sesión, la subida masiva de archivos CSV, etc.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <img src="~/img/account.png" alt="Inicia Sesión" width="100" height="100"/>
        <h2>Inicia Sesión</h2>
        <p>
            Inicia sesión para poder acceder a todas nuestras funciones.
        </p>
    </div>
    <div class="col-md-4">
        <img src="~/img/celulas.png" alt="Interactua con las tablas" width="100" height="100"/>
        <h2>CRUD en las tablas</h2>
        <p>
            Podremos encontrar el CRUD de las tablas con y sin llave foranea. Se puede encontrar los detalles de las tablas,
            ademas se pueden editar, agregar y eliminar registros de las tablas.
        </p>
    </div>
    <div class="col-md-4">
        <img src="~/img/subir.png" alt="Sube tus CSV" width="100" height="100"/>
        <h2>Cargue Masivo</h2>
        <p>Sube tus archivos CSV para cargar tus datos en las tablas de una manera muy rápida.</p>
    </div>
</div>

<div class="jumbotron">
    <h2>Mira el código</h2>
    <p class="lead">Encuentra mi repositorio en el siguiente link, donde encontraras todo el código de este proyecto.</p>
    <p><a href="https://github.com/PabloCipriam/2236903_Framework" target="_blank" class="btn btn-primary btn-lg">Repositorio GitHub &raquo;</a></p>
</div>