@model Proyecto_2236903_Framework.Models.usuariorol

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>Usuario_Rol</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Usuario:
        </dt>

        <dd>
            @Proyecto_2236903_Framework.Controllers.UsuarioRolController.NombreUsuario(Model.idUsuario)
        </dd>

        <dt>
            Rol:
        </dt>

        <dd>
            @Proyecto_2236903_Framework.Controllers.UsuarioRolController.DescripcionRol(Model.idRol)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Ver todo", "Index")
</p>
