@model IEnumerable<Proyecto_2236903_Framework.Models.roles>

<select class="form-control" id="idRol" name="idRol">
    @foreach(var item in Model)
            {
                <option value="@item.id">@item.descripcion</option>
            }
</select>
