@model Proyecto_2236903_Framework.Models.producto_imagen

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>Producto_Imagen</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Imagen
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imagen)
        </dd>

        <dt>
            Producto:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_producto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Ver todo", "Index")
</p>
